html, body{

    height: 100%;

    width: 100%;

    margin: 0;

}

.gridcontainer{
    height: 100%;
    width: 100%;
    background-color: rgb(56, 55, 55);
    display: grid;

grid-template-rows: 10% 15% 30% 15% 30%;
grid-template-columns:  100%;

grid-template-areas:

"liens"
"texte1"
"banniere1"
"texte2"
"banniere2"

}

.texte1{
grid-area: texte1;
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 3em;
background-color: grey;
display: flex;
justify-content: center;
align-items: center;   
text-shadow: 2px 2px white;

}

.texte2{
    grid-area: texte2;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: grey;
    text-shadow: 2px 2px white;

}

@font-face {
    font-family: "Allo";
    src: url("police/Eating-You-Alive.ttf");
}

@font-face {
    font-family: "demon";
    src: url("police/18627.ttf");
}



.banniere1{
    grid-area: banniere1;
    text-align: center;
    font-size: 10em;
font-family: "Allo";
display: flex;
justify-content: center;
align-items: center;
animation-name: ban1;
animation: ban1 10s infinite alternate;
text-shadow: 10px 10px purple;

}

@keyframes ban1{
    0% {background-color: blue;}
    25%{background-color: blueviolet;}
    50%{background-color: violet;}
    75%{background-color: orange;}
  100% {background-color: yellow;}



}
.banniere2{
    grid-area: banniere2;
    text-align: center;
    font-size: 8em;
    color: pink;
    background: rgb(228, 65, 65);
  background: radial-gradient(
    circle,
    rgba(228, 65, 65, 1) 0%,
    rgba(201, 138, 70, 1) 50%,
    rgba(227, 255, 0, 1) 100%
  );
    font-family: "demon";
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: transform 1s ease-out;
    display: inline-flexbox;
    text-shadow: 10px 10px rgb(184, 54, 101);
    box-shadow: 4px 4px 2px black;
    

}
.banniere2:hover{
    transform: translate(0, -20px);
}

 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 100%;
  }
  
  #nav li {
    float: left;
    height: 100%;
  }
  
  a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;  
    
  }
  a {
    display: block;
    padding: 10px;
    background-color: lightgray;
    height: 100%;
    }
  
    a:hover {
    background-color: #111;
    height: 100%;
  } 
  #animate {
    transition: transform 0.3s ease-out;
    display: inline-block;
  }
  #animate:hover {
    transform: translate(0, 10px);
  }


    








     




